
/* html and all general styling */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-image: url("twitch_background/Glitch_Purple_RGB.svg");
  background-color: #7C4DFF;
  font-family: 'Comfortaa', 'Roboto', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none !important;
}

input {
  border: none;
}

button {
  border: none;
  text-decoration: none;
}

/* main content container styling */

.wrapper {
  display: grid;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  grid-gap: 5px;
}

/* header styling and header button styling */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
  background-color: #FBC02D;
  font-size: 1.5em;
  padding: 5px;
}

.header-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button styling */

.status-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 10px;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 100%;
  font-size: 1em;
  color: white;
  border-left: 3px solid #FBC02D;
  background-color: #9C27B0;
  transition: background-color 0.3s ease;
}

.btn-online {
  border-left: none;
}

.btn:hover {
  background-color: #E040FB;
}

.btn-active {
  background-color: #E040FB;
}

/* search bar styling */

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 2px solid #9C27B0;
  border-radius: 3px;
}

.search-bar > input {
  padding: 10px;
  font-size: 1em;
  flex: 6;
  background-color: #FBC02D;
  color: #212121;
}

.search-bar > .btn {
  border-left: none;
}

/* styling for streamer divs */

.streamer-div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  font-size: 1.5em;
  padding: 10px;
}

.streamer-offline {
  background-color: #ffd672;
}

.streamer-online {
  background-color: #FBC02D;
}

.fa-twitch {
  margin: 20px;
}

.icon-offline {
  color: #F44336;
}

.icon-online {
  color: #4CAF50;
}

.streamer-logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 20px;
}

.streamer-followers {
  margin: 0px 20px 0px auto;
}

.stream-viewers {
  margin: 0px 20px 0px auto;
  text-align: center;
}

.stream-status {
  margin: 20px;
  font-size: .8em;
}

.streamer-name{
  margin: 20px;
}


/* media query for smaller screens */

@media (max-width: 600px) {

  .header{
    font-size: 1em;
  }

  .status-btns > .btn {
    font-size: 1em;
  }

  .search-bar {
    width: 100%;
    font-size: 1em;
  }

}
