
/* html and all general styling */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-size: auto;
  background-image: url("https://slate.adobe.com/a/wKryJ/images/69077D17-0426-4B67-9BEF-8903C33153CA.jpg");
  font-family: 'Comfortaa', 'Roboto', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none !important;
}

input {
  border: none;
}

button {
  border: none;
  text-decoration: none;
}

/* main content container styling */

.wrapper {
  display: grid;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  grid-gap: 5px;
}

/* header styling and header button styling */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
  background-color: #FBC02D;
  font-size: 1.5em;
  padding: 5px;
}

.header-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button styling */

.status-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 10px;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 100%;
  font-size: 1em;
  color: white;
  border-left: 3px solid #FBC02D;
  background-color: #9C27B0;
  transition: background-color 0.3s ease;
}

.btn-online {
  border-left: none;
}

.btn:hover {
  background-color: #E040FB;
}

.status-btns > .btn:focus {
  background-color: #E040FB;
}

/* search bar styling */

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 2px solid #9C27B0;
  border-radius: 3px;
}

.search-bar > input {
  padding: 10px;
  font-size: 1em;
  flex: 6;
  background-color: #FBC02D;
  color: #212121;
}

.search-bar > .btn {
  border-left: none;
}

/* media query for smaller screens */

@media (max-width: 600px) {

  .header{
    font-size: 1em;
  }

  .status-btns > .btn {
    font-size: 1em;
  }

  .search-bar {
    width: 100%;
    font-size: 1em;
  }

}
